<template>
    <div class="books_result">
        <div class="sort_block">
            <div class="title">Filter</div>
            <input type="text" v-model="search" placeholder="search..." @keydown.enter="getBooks">
            <input type="text" v-model="number" placeholder="number of books on page" @keydown.enter="getBooks">
            <input type="text" v-model="offset" placeholder="offset" @keydown.enter="getBooks">
            <button @click="getBooks" class="btn btn-info">search</button>
        </div>

        <div class="result">
            <div v-if="this.books">
                <div class="all-items">Total items: {{this.books.totalItems}}</div>

                    <div v-for="item in this.books.items" class="item-book">
                        <div class="row">
                            <div class="col-md-4">
                                <div v-if="item.volumeInfo.imageLinks" class="thumbnail"><img
                                        :src="item.volumeInfo.imageLinks.thumbnail" alt=""></div>
                                <div class="title text-primary block" v-html="item.volumeInfo.title">{{item.volumeInfo.title}}</div>
                                <span class="authors text-success block">{{item.volumeInfo.authors}}</span>
                                <span class="publisher text-warning block">{{item.volumeInfo.publisher}}</span>
                                <span class="date  block">{{item.volumeInfo.publishedDate}}</span>
                                <div class="save btn btn-danger" @click="saveBooks(item)">Save</div>
                            </div>
                            <div class="col-md-8">
                                <div class="description text-info block" v-html="item.volumeInfo.description">{{item.volumeInfo.description}}</div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'books',
        data() {
            return {
                search: "",
                books: [],
                number: null,
                offset: null,
                loading: false,
                max_length: 40
            }
        },
        methods: {
            getBooks() {

                // title, authors, publisher, date, description, thumbnail
                this.loading = true;

                if (this.number === null || !this.number)
                    this.number = 10;

                if (this.offset === null || !this.offset)
                    this.offset = 0;

                if (this.number > this.max_length) {
                    this.number = 40;
                    alert('max view 40 items')
                }

                axios.get('https://www.googleapis.com/books/v1/volumes?q=' + this.search + '&maxResults=' + this.number + '&startIndex=' + this.offset)
                    .then((response) => {
                        this.loading = false;
                        this.books = response.data;
                    }, (error) => {
                        console.log(error);
                        this.loading = false;
                    });
                console.log('books:' + this.books);
            },
            saveBooks(item) {
                let saveBooks = {
                    thumbnail: item.volumeInfo.imageLinks.thumbnail,
                    title: item.volumeInfo.title,
                    authors: JSON.stringify(item.volumeInfo.authors),
                    publisher: item.volumeInfo.publisher,
                    date: item.volumeInfo.publishedDate,
                    description: item.volumeInfo.description,
                    status_image: item.volumeInfo.readingModes.image,
                    status_text: item.volumeInfo.readingModes.text,
                };
                console.log(saveBooks);

                jQuery.ajax({
                    url: ajaxurl,
                    type:'POST',
                    dataType:"json",
                    data: {
                        action:'single_post',
                        title: saveBooks.title,
                        content:saveBooks.description,
                        thumbnail: saveBooks.thumbnail
                    },
                    success: function(response){
                        alert('saved');
                        console.log(response);
                    }

                });
            }
        },
    }

</script>


<style scoped>
    .block {
        display: block;
    }
    .row {
        margin-bottom: 40px;
    }
</style>