<template>

<div class="frontbook">
    <div class="item" v-for="item in books">
               <div class="row">
                   <div class="col-md-6">
                       <div class="thumb">
                           <img :src="item['_embedded']['wp:featuredmedia'][0].source_url" :alt="item.title.rendered">
                       </div>
                       <div class="title" v-html="item.title.rendered">{{item.title.rendered}}</div>
                       <div class="date"> {{item.date | formatDate}}</div>
                   </div>
                   <div class="col-md-6" v-html="item.content.rendered">
                       {{item.content.rendered}}
                   </div>
               </div>
    </div>
    <div class="btn btn-outline-primary" @click="moreBooks" v-if="this.books.length >= this.per_page">More Books</div>
</div>
</template>

<script>

    import axios from 'axios';
    import moment from 'moment';


    export default {
        name: 'frontbook',
        data() {
            return {
                books: [],
                page: 0,
                offset: 0,
                per_page: 4,
            }
        },
        created() {
            this.getBooks();
        },
        methods: {
            getBooks() {
                axios.get(location.origin+ '/wp-json/wp/v2/books/?_embed&per_page='+this.per_page)
                    .then((response) => {
                        this.loading = false;
                        this.books = response.data;
                        console.log('books:' + this.books);
                    }, (error) => {
                        console.log(error);
                        this.loading = false;
                    });
            },
            moreBooks() {
                this.per_page = this.per_page +4;
                this.getBooks();
            },
        },
        filters: {
            formatDate: function (value) {
                if (value) {
                    return moment(String(value)).format('MM/DD/YYYY hh:mm');
                }
            }
        }
    }
</script>


<style scoped>
        .row {
            margin-bottom: 30px;
        }
</style>